<?xml version="1.0"?>

<launch>
  <arg name="geotiff_map_file_path" default="$(find antrobot_ros)/maps/"/>

  <!-- Use this when mapping is done in simulation -->
  <!--  <param name="/use_sim_time" value="true"/>-->
  <param name="/use_sim_time" value="false"/>

  <include file="$(find antrobot_ros)/launch/antrobot_hector_mapping_config.launch"/>

  <include file="$(find hector_geotiff_launch)/launch/geotiff_mapper.launch">
    <arg name="trajectory_source_frame_name" value="scanmatcher_frame"/>
    <arg name="map_file_path" value="$(arg geotiff_map_file_path)"/>
  </include>

</launch>
